#popup-newletter {
	background: url(//bizweb.dktcdn.net/100/038/419/themes/49902/assets/pnewletter_bg.png?1489825514756) no-repeat scroll bottom right #fff;
    text-align: left;
    padding: 20px;
    min-width: 624px;
    min-height: 420px;
    overflow: hidden;
}